---
import config from "@/config/config.json";
import menu from "@/config/menu.json";
import social from "@/config/social.json";
import { markdownify } from "@/lib/utils/textConverter";
import { Image } from "astro:assets";

const { copyright, footer_description } = config.params;

const { footer } = menu;
---

<footer class="section lg:py-[135px] bg-text">
  <div class="container">
    <div class="row max-lg:g-5 max-md:justify-center">
      <div class="col-12 lg:col-6 min-h-full">
        <div class="flex flex-col justify-between h-full">
          <div>
            <Image
              src={config.site.footer_logo}
              width={184}
              height={53}
              alt="footer logo"
              data-aos="fade-in-sm"
              class="mb-4"
            />

            <p
              class="text-base-sm text-text-light/60"
              set:html={markdownify(footer_description)}
              data-aos="fade-up-sm"
              data-aos-delay="100"
            />
          </div>

          <p
            class="hidden lg:block text-base-sm text-text-light/60 [&>a]:text-text-light max-lg:mt-10"
            set:html={markdownify(copyright)}
            data-aos="fade-up-sm"
          />
        </div>
      </div>
      <div class="col-12 lg:col-6">
        <div class="row max-md:gy-5 justify-between">
          {
            footer.map((menu, index) => (
              <div
                class="col-6 md:col-3 pr-0"
                data-aos="fade-up-sm"
                data-aos-delay={50 + index * 50}>
                <p class="mb-8 font-medium text-text-light">{menu.title}</p>
                <ul>
                  {menu.children.map((child) => (
                    <li class="mb-4 last:mb-0 text-text-light/80 text-base-sm hover:text-secondary hover:underline transition-all duration-300 ease-in-out">
                      <a
                        href={child.url}
                        target={`${menu.title === "Social" ? "_blank" : "_self"}`}>
                        {child.name}
                      </a>
                    </li>
                  ))}
                </ul>
              </div>
            ))
          }
          <div
            class="col-6 md:col-3 pr-0"
            data-aos="fade-up-sm"
            data-aos-delay={50 + footer.length * 50}>
            <p class="mb-8 font-medium text-text-light">Social</p>
            <ul>
              {
                social.main.map((social) => (
                  <li class="mb-4 last:mb-0 text-text-light/80 text-base-sm hover:text-secondary hover:underline transition-all duration-300 ease-in-out">
                    <a href={social.link} target="_blank">
                      {social.name}
                    </a>
                  </li>
                ))
              }
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="block lg:hidden">
      <p
        class="text-base-sm text-text-light/60 [&>a]:text-text-light max-lg:mt-10"
        set:html={markdownify(copyright)}
        data-aos="fade-up-sm"
      />
    </div>
  </div>
</footer>
